# Node modules
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing tools
coverage/

# Dependency directories
jspm_packages/

# Production
build/
dist/

# Misc
.DS_Store
.env

# VSCode settings
.vscode/

# Public files you don't want to commit
public/images/
